include ./__item/palette__item
mixin palette
  ul.palette-list
    +palette-item("Dark Shade 100%","#1F2041", "darkShade100")
    +palette-item("Dark Shade 75%","#1F2041", "darkShade75")
    +palette-item("Dark Shade 50%","#1F2041", "darkShade50")
    +palette-item("Dark Shade 25%","#1F2041", "darkShade50")
    +palette-item("Dark Shade 5%","#1F2041", "darkShade5")
    +palette-item("Purple","#BC9CFF", "purple")
    +palette-item("Green","#6FCF97", "green")