@font-face{
  font-family: Quicksand;
  font-weight: bold;
  src: url('../fonts/src/Qiocksand-Bold/Quicksand-Bold.eot');
  src: url('../fonts/src/Qiocksand-Bold/Quicksand-Bold.woff') format('woff'), 
  url('../fonts/src/Qiocksand-Bold/Quicksand-Bold.ttf') format('truetype'), 
  url('../fonts/src/Qiocksand-Bold/Quicksand-Bold.svg') format('svg');
}
@font-face{
  font-family: Quicksand;
  font-weight: normal;
  src: url('../fonts/src/Qiocksand-Normal/Quicksand-Normal.eot');
  src: url('../fonts/src/Qiocksand-Normal/Quicksand-Normal.woff') format('woff'), 
  url('../fonts/src/Qiocksand-Normal/Quicksand-Normal.ttf') format('truetype'), 
  url('../fonts/src/Qiocksand-Normal/Quicksand-Normal.svg') format('svg');
}
@font-face{
  font-family: Montserrat;
  font-weight: normal;
  src: url('../fonts/src/Montserrat-Normal/Montserrat-Normal.eot');
  src: url('../fonts/src/Montserrat-Normal/Montserrat-Normal.woff') format('woff'), 
  url('../fonts/src/Montserrat-Normal/Montserrat-Normal.ttf') format('truetype'), 
  url('../fonts/src/Montserrat-Normal/Montserrat-Normal.svg') format('svg');
}
@font-face{
  font-family: Montserrat;
  font-weight: bold;
  src: url('../fonts/src/Montserrat-Bold/Montserrat-Bold.eot');
  src: url('../fonts/src/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), 
  url('../fonts/src/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'), 
  url('../fonts/src/Montserrat-Bold/Montserrat-Bold.svg') format('svg');
}
