@import "../colors/colors.scss";
@import "./fonts__injector.scss";
@mixin H1__custom {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $darkShade100;
}
@mixin H2__custom {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $darkShade100;
}
@mixin H3__custom{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
/* identical to box height */
  text-transform: uppercase;
  color: $darkShade100;
}
@mixin body__custom {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $darkShade75;
}