@import "../fonts/fonts.scss";
@import "../blocks/palette/palette.scss";
@import "../blocks/reseter/reseter.scss";
@import "../blocks/logo-header/logo-header.scss";
@import "../blocks/fonts/fonts.scss";
.container{
  margin: 0 auto;
}
.colors-type-main{
  display: grid;
  column-gap: calc(100% - 886px);
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  padding-left: 10.41667%;
  padding-right: 10.41667%;
  padding-top: 2.3125rem;
  row-gap: 50px;
}