include ../blocks/palette/palette
include ../blocks/fonts/fonts
include ../blocks/logo-header/logo-header
doctype html
html
  head
    link(rel="stylesheet" href="./colors-and-type.scss")
    title Colors & Type
  body
    +logo-header
    .container
      .colors-type-main
        +palette
        +fonts