mixin palette-item(name, code, codeClass)
  li.palette-item
    div.palette-wrapper
      div(class= codeClass).palette-plate
      div.description-wrapper
        div.color-header= name
        div.color-code= code