.palette-item{
  margin-bottom: 20px;
}
.palette-wrapper{
  display: flex;
  column-gap: 20px;
}
.palette-plate{
  border-radius: 6px;
  width: 70px;
  height: 70px;
  margin-right: 40px;
}
.color-header{
  @include H2__custom;
  margin-top: 9px;
}
.color-code{
  @include body__custom;
  margin-top: 6px;
  font-size: 18px;
}
.description-wrapper{
  display: flex;
  flex-direction: column;
}
.darkShade100{
  background-color: $darkShade100;
}
.darkShade75{
  background-color: $darkShade75;
}
.darkShade50{
  background-color: $darkShade50;
}
.darkShade25{
  background-color: $darkShade25;
}
.darkShade5{
  background-color: $darkShade5;
}
.purple{
  background-color: $purple;
}
.green{
  background-color: $green;
}